nav {
  border-bottom: 4px solid #DD2C6A;
  background-color: #E55D8C;
  padding: 12px;
}

nav ol li {
  display: inline-block;
}

footer {
  border-bottom: 1px solid black;
  align-items: center;
}

footer ol li {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

h1 {
  color: white;
  padding: 12px;
}

h2 {
  color: white;
  padding: 16px;
}

p {
  color: white;
  padding: 24px;
}


/* polka dots!! */
/* link to src: https://codepen.io/quitepenne/pen/NNmEEd */

body {
    margin: 0;
    background: #DD2C6A;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image:
        radial-gradient(circle, #E55D8C 5px, transparent 6px),
        radial-gradient(circle, #E55D8C 5px, transparent 6px);

    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;

    animation: dots 2s linear infinite;
}

@keyframes dots {
    to {
        background-position: 50px 50px, 75px 75px;
    }
}
