/* CITATION: Used this to help center my stuff! https://medium.com/@anuj_jaryal/mastering-the-art-of-centering-a-div-in-css-110d6001a273*/

nav {
  border-bottom: 4px solid #951844;
  background-color: #951844;
  padding: 12px;
}

nav ol li {
  display: inline-block;
  color: white;
}

nav ol li a:link {
  color: white;
}

nav ol li a:visited {
  color: white;
}

p a:link {
  color: white;
}

p a:visited {
  color: white;
}

uo li {
  color:white;
  padding-left: 12px;
  background-color: #951844;
  border: #951844;
  border-width: 12px;
  padding-top:6px;
  padding-bottom: 6px;
}

footer {
  border-bottom: 1px solid black;
  align-items: center;
}

footer ol li {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

h1 {
  color: white;
  padding-left: 12px;
  display: grid;
  place-items: center;
  margin: auto;
  padding-top:12px;
}

h2 {
  color: white;
  padding-left: 16px;
}

h3 {
  color: white;
  padding-left: 16px;
}

p {
  color: white;
  padding: 24px;
  background-color: #951844;
}

#iframe-container {
  display: grid;
  place-items: center;
  margin: auto;
}

img {
  display: grid;
  place-items: center;
  margin: auto;
  padding-top:12px;
}

select {
  padding-left:12px;
  background-color: #951844;
  border: 12px solid transparent;
  color: white;
}

#center-tag {
  display: grid;
  place-items: center;
  margin: auto;
}

footer {
  background-color: #951844;
  padding-top: 12px;
  border-color: #951844;
}

footer a:link {
  color: white;
}

/* CITATION: found this from https://www.w3schools.com/css/css_display_hide.asp */
.invisible-element {
  display: none;
}

/* polka dots!! Got this from this link below */
/* CITATION: https://codepen.io/quitepenne/pen/NNmEEd */
/* I tried my best to understand how their stuff worked and I feel more confident about this keyframe stuff though I will admit, it's still a little bit of black magic to me haha */
/* another good resource while learning was: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@keyframes */

body {
    margin: 0;
    background: #DD2C6A;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image:
        radial-gradient(circle, #E55D8C 5px, transparent 6px),
        radial-gradient(circle, #E55D8C 5px, transparent 6px);

    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;

    animation: dots 2s linear infinite;
}

@keyframes dots {
    to {
        background-position: 50px 50px, 75px 75px;
    }
}
